
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FFF;
}
nav > ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500px;
    font-size: 1rem;
}
   /* banner section */
.banner-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-image: url("../images/");
}
.banner-title{
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px
}
.banner-description{
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;

}
.btn-primyre{
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 41px;
    background: #E02C6D;
    margin: 20px;
}
.camera{
    background-image: url("../images/Circle design.svg");
}
.sponsore{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 200px;
}
/* item  */
.item-title{
    text-align: center;
    color: #3A3A3A;
    font-family: Poppins;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}
.collection-item{
    height: 476px;
    flex-shrink: 0;
    gap: 10px;
    justify-content: center;
    display: grid;
    grid-template-columns:329px 329px 329px ;

}
.se-more{
    width: 100px;
    margin: 20px;
    color: rgba(224, 44, 109, 0.87);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;

}

.img{
    width: 404px;
    height: 270px;
    flex-shrink: 0;
 
}
.featured-section{
    display: flex;
    gap: 50px;
}
.f-des{
    width: 501px;
    height: 88px;
    flex-shrink: 0;
    gap: 50px;
}
/* footer section */
.footer{
    flex-shrink: 0;
    background: #0A0826;
    margin: 100px;
    color: #FFF;
    padding: 50px;
    text-align: center;
    
}